/* common */
ul {
  list-style: none;
}
/* common */

/* utility classes */
.bl-primary-color {
  color: #006aff;
}

.bl-secondary-color {
  color: #031c4e;
}
/* utility classes */

.bl-jumbotron {
  height: 500px;
  background-image: url("../img/bg-home-hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bl-ul-bordered {
  border-left: 1px solid #ccc;
  text-align: left;
}
