/* common */
ul {
  list-style: none;
}
/* common */

/* utility classes */
.bl-primary-color {
  color: #006aff;
}

.bl-secondary-color {
  color: #031c4e;
}
/* utility classes */

.bl-jumbotron {
  background-image: url("../img/bg-home-hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bl-jumbotron h1 {
  font-size: 60px;
  color: #fff;
}

.bl-jumbotron p {
  font-size: 20px;
  color: #bbcbfe;
}

.bl-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.bl-form span {
  display: block;
  font-size: 20px;
}

.bl-form span:last-child {
  font-size: 12px;
}

.bl-form button {
  height: 30px;
  display: block;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.bl-btn-create-account {
  background-color: #579aff;
  color: #fff;
}

.bl-btn-create-account:hover {
  background-color: #006aff;
  transition: all 0.3s ease 0s;
}

.bl-btn-google-sign-up {
  background-color: #fff;
  color: #626262;
  box-shadow: 2px 2px 2px #888888;
}

.bl-btn-google-sign-up:hover {
  background-color: #f3f5f9;
  transition: all 0.3s ease 0s;
}

/* partners */
.bl-partners-row {
  background-color: #f3f5f9;
  padding: 20px 0;
}

.bl-partners-row span {
  text-transform: uppercase;
  color: #6f7b97;
}
/* partners */

/* deploy */
.bl-deploy-row h2, .bl-deploy-row h3, .bl-deploy-row p {
  text-align: center;
  font-weight: bolder;
}

.bl-deploy-box h3 {
  font-size: 20px;
}

.bl-deploy-row p, .bl-deploy-box p {
  font-size: 18px;
  color: #5c6a88;
}

.bl-deploy-box p {
  font-size: 16px;
  text-align: left;
}

.bl-deploy-left-menu ul {
  border-left: 1px solid #ccc;
  margin: 20px 0;
}
/* deploy */

/* designed for developers */
.bl-dev-designed-row {
  background-color: #f3f5f9;
}

.bl-dev-designed-row h2 {
  margin-top: 100px;
}

.bl-dev-designed-row p {
  color: #5c6a88;
  font-size: 18px;
}

.bl-dev-designed-row span {
  display: block;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.bl-dev-designed-row img {
  height: 250px;
  margin-top: 100px;
}

.bl-carousel-dots {
  margin-bottom: 100px;
}

/******* Trying to change icon on hover *******
.bl-carousel-dots a i:hover {
  content: "\f111";
} */
/* designed for developers */

/* The future your business needs */
.bl-business-features-row {
  padding: 40px 0;
}

.bl-business-features-row h2 {
  margin-bottom: 40px;
}

.bl-business-box {
  text-align: left;
  margin: 20px 0;
}
/* The future your business needs */

/* service your customers */
.bl-customers-service {
  background-color: #031b4e;
  background-image: url("../img/bg-map.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
}

.bl-customers-service h2 {
  text-align: center;
}
/* service your customers */

.bl-rockerbox {
  padding-bottom: 20px;
}

.bl-get-started-now {
  background-color: #0035ae;
  padding-bottom: 20px;
}

.bl-get-started-now h2 {
  color: #fff;
}

.bl-footer {
  color: #9ca4b6;
  background-color: #031c4e;
  padding-top: 20px;
}
